[submodule "remember-geometry"]
	path = remember-geometry
	url = https://github.com/berlam/awesome-remember-geometry
[submodule "upower-battery"]
	path = upower-battery
	url = https://github.com/berlam/awesome-upower-battery
